Package: com.miwix.appsort
Name: AppSort
Depends: mobilesubstrate, lua5.3, liblua5.3
conflicts: com.broganminer.appsort
Version: 1.0.0
Architecture: iphoneos-arm
Description: Sort apps using lua scripts.
Maintainer: Lavie Gariv
Author: Brogan Miner
Section: Tweaks
